{# Single product START #}
<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
    <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
            <img class="img-fluid w-100" src="/storage/images/{{ product.image }}" alt="{{ product.title }}" title="{{ product.subtitle }}">
        </div>
        <div class="card-body border-left border-right border-bottom text-center p-0 pt-4 pb-3">
            <h6 class="text-truncate mb-3"><b>{{ product.title }}</b></h6>
            <div class="d-flex justify-content-center">
                <h6>{{ product.price }} &euro; | Size: {{ product.size }}</h6>
            </div>
        </div>
    </div>
</div>
{# Single product END #}